@using System.Security.Claims
@model IEnumerable<Aanmelding>
@inject ClientContext _context

@{
    var context = _context;
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/formulieren.css" />
    <link rel="stylesheet" href="~/css/overzicht.css" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <link rel="stylesheet" href="~/css/footerbottom.css" />
    <title>Overzicht afspraken</title>
</head>

<body>

    <h1><b>Index</b></h1>
    <hr>

    <br>
    @foreach (var item in Model)
    {
        @if (item.Hulpverlener == _context.accounts.FirstOrDefault(a => a.Id == userId).Id)
        {
            <div class="Afspraak" style="background-color:#00ff00;">
                <b>Naam: </b>
                @Html.DisplayFor(modelItem => item.VoorNaam)
                @Html.DisplayFor(modelItem => item.AchterNaam)
                <br>
                <b>Datum:</b>
                @Html.DisplayFor(modelItem => item.Datum)
                <br>
                <b>Hulpverlener:</b>
                @Html.DisplayFor(modelItem => _context.accounts.FirstOrDefault(a => a.Id == userId).Voornaam)

                <br><br>

                <a asp-action="Delete" asp-route-id="@item.Id">Afspraak afkeuren</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details afspraak</a>
            </div>

            <br><br>
        }
    }
</body>

</html>
