@using System.Security.Claims
@inject ClientContext _context

@model IEnumerable<Chat>

    @{
        var context = _context;
        var currentPersoonId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/footerbottom.css" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <title>Chat pagina</title>
</head>

<body>

    <div class="row">
        <div class="col-7">
            <h1><b>Chat pagina</b></h1>

            <br>
            <img src="/Images/chat.png" alt="Pictogram van een chat">
        </div>
        <div class="col-5">

            <br><br><br><br>

            <h4><b>Neem deel aan een zelfhulpgroep</b></h4> 
            <div class="main-menu" <div class="side-menu">
                <form asp-controller="Chat" asp-action="searchSelection">
            <div> 

                <label for="Kamernaam" id="Kamernaam" style="font-weight:bold;">Onderwerp zelfhulpgroep: </label>
                <input name="SelectionKamer" placeholder="Zelfhulpgroep" value='@ViewData["SelectionKamer"]'>
            </div>
       
            <div>
                <label for="Leeftijd" id="Leeftijd" style="font-weight:bold;">Leeftijdsgroep: </label>
                <input name="SelectionLeeftijd" placeholder="Leeftijdsgroep" value='@ViewData["SelectionLeeftijd"]'>

            </div>
        
            <footer>
                <button>Zoek zelfhulpgroep:</button>
            </footer>
        </form>         
                        <br>
                        <p><b>Beschikbare zelfhulpgroepen:</b></p>
                        @foreach (var Chat in Model)
                        {
                            @if (!Chat.Users.Any(u => u.AccountId == currentPersoonId) && Chat.ruimte == chatRuimte.Room)
                            {
                            <a class="roomBtn" asp-controller="chat" asp-action="joinRoom" asp-route-id="@Chat.Id">
                                    @Chat.naam leeftijd: @Chat.ageGroup
                            </a>
                            }
                        }
                        <br>
                        <br>
                        <p><b>Zelfhulpgroepen waar je deel van uit maakt:</b></p>
                        @foreach (var Chat in Model)
                        {    
                            @if (Chat.Users.Any(u => u.AccountId == currentPersoonId) && Chat.ruimte == chatRuimte.Room)
                            {
                            <a class="roomBtn" asp-controller="chat" asp-action="chatRoom" asp-route-id="@Chat.Id">
                                @Chat.naam leeftijd: @Chat.ageGroup
                            </a>
                            }
                        }
                @if (context.accounts.FirstOrDefault(a => a.Id == currentPersoonId).typAccount == "hulpverlener")
                {               
                <a class="room-button" id="Create_Room" href="#">
                    <strong>+</strong>
                </a>
                }
                <hr>
                <h4><b>Vind een persoon</b></h4>
                <a asp-controller="chat" asp-action="Find">Klik hier voor een overzicht van alle personen</a>
                <hr>
                <h4><b>Privé chats</b></h4>
                <a asp-controller="chat" asp-action="privateChatRoom" asp-route-Id = "@currentPersoonId">Klik hier voor een overzicht van alle privé chats</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="modal" id="room_modal">
        <form asp-controller="Chat" asp-action="chatSelection" class="modal-body">
            <header>create room</header>
            <div>
                <button onclick="closemodal">X</button>
            </div>
            <div>
                <input name="name" placeholder="de kamernaam">
            </div>
            <div>
                <input name="ageGroup" placeholder="de gemiddelde leeftijd">
            </div>
            <footer>
                <button>create</button>
            </footer>
        </form>
    </div>
</body>

</html>