@using System.Security.Claims
@model IEnumerable<Account>

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var currentUser = Model.FirstOrDefault(a => a.Id == userId); 
}
@if (currentUser.typAccount == "moderator")
{
    <a>selecteer hier iemand die je wil blokkeren</a>
} else{
<a>selecteer hier iemand waar je mee wil chatten</a>
}
@foreach (var user in Model)
{
    @if (user.Id != userId)
        {
        @if (currentUser.typAccount == "moderator")
        {
            @if (user.blocked == true)
            {
                <a asp-controller="chat" asp-action="GebruikerBlokkeren" asp-route-userId = "@user.Id">
                    @user.UserName <strong>: geblokkeerd </strong>  <br>                 
                </a> 
            } else{
                <a asp-controller="chat" asp-action="GebruikerBlokkeren" asp-route-userId = "@user.Id">
                    @user.UserName                    
                </a>
            }
        } else {
        <a asp-controller="chat" asp-action="CreatePrivateRoom" asp-route-userId = "@user.Id">
                @user.UserName                    
        </a> 
        }
    }
}