@using System.Security.Claims
@model IEnumerable<Account>
@inject ClientContext _context

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/formulieren.css" />
    <link rel="stylesheet" href="~/css/inloggen.css" />
    <title>Registreer pagina</title>
</head>

<body>

    <h2><b>Registreer:</b></h2>
    <p><b>Vul hieronder het formulier in om een nieuw account aan te maken.</b></p>
    <hr>

    <form action="/Home/Register" id="form" method="post">
        <div class="container">
            <label for="voornaam" id="voornaam"><b>Voornaam</b></label>
            <input type="text" name="voornaam" value="" placeholder="Voornaam" />

            <label for="tussenvoegsel" id="tussenvoegsel"><b>Tussenvoegsel</b></label>
            <input type="text" name="Tussenvoegsel" value=" " placeholder="Tussenvoegsel" />

            <label for="achternaam" id="achternaam"><b>Achternaam</b></label>
            <input type="text" name="Achternaam" value="" placeholder="Achternaam" />

            <label for="leeftijd" id="leeftijd"><b>Leeftijd</b></label>
            <input type="text" name="Leeftijd" value="" placeholder="Leeftijd" />

            <label for="email" id="email"><b>Email</b></label>
            <input type="text" name="Email" value="" placeholder="Email" />

            <label for="adres" id="adres"><b>Adres</b></label>
            <input type="text" name="Adres" value="" placeholder="Adres" />

            <label for="postcode" id="postcode"><b>Postcode</b></label>
            <input type="text" name="Postcode" value="" placeholder="Postcode" />

            <label for="telefoonnr" id="telefoonnr"><b>Telefoonnummer</b></label>
            <input type="text" name="Telnr" value="" placeholder="Telefoonnummer" />

            <label for="woonplaats" id="woonplaats"><b>Woonplaats</b></label>
            <input type="text" name="Plaats" value="" placeholder="Woonplaats" />

            <label for="wachtwoord" id="wachtwoord"><b>Wachtwoord</b></label>
            <input type="text" name="password" value="" placeholder="Wachtwoord" />

            <label for="geslacht" id="geslacht"><b>Geslacht</b></label><br>
            <select name="geslacht" id="geslacht">
                <option value="Man">M</option>
                <option value="Vrouw">V</option>
            </select> <br>

            @if (Model.Any(a => a.typAccount == "hulpverlener"))
            {
                <label name="typAccount" hidden value="gast"></label>
                <label for="hulpverlener" id="hulpverlener"><b>hulpverlener</b></label><br>
                <select name="hulpverlener" id="hulpverlener">
                @foreach (var account in Model)
                {
                    <option value= "@account.Id">@account.Achternaam</option>
                }
                </select>
            } 
            else{
                <label name="typAccount" hidden value="Ouder"></label>
                <label for="kind" id="kind"><b>Ouder van:</b></label><br>
                <select name="kind" id="kind">
                @foreach (var account in Model)
                {
                    @if (account.typAccount == "client"){
                        <option value= "@account.Id">@account.Voornaam @account.Tussenvoegsel @account.Achternaam </option>
                    }
                }
                </select><br>
            }
            @try{
            @if(_context.accounts.FirstOrDefault(a => a.Id == User.FindFirst(ClaimTypes.NameIdentifier).Value).typAccount == "admin")
            {
                <label for="typAccount" id="typAccount"><b>Rol selecteren: </b></label><br>
                <select name="typAccount" id="typAccount">
                    <option value="moderator" >Moderator</option>
                    <option value="hulpverlener">Hulpverlener</option>
                     </select>
                }
            }
            catch
            {

            }

           

            <div class="container">
                <button type="submit" class="button">Maak een nieuw account aan</button>
            </div>
        </div>
        <div class="container">
            <a asp-controller="Home" asp-action="Index">Terug naar welkom pagina</a>
        </div>
    </form>
</body>

</html>
